@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* All this root colors was added to config file */
  --primary: #ff0e0e;
  --primary_dark: #d3043f;
  --ground: #02b529;
  --ground_dark: #02851e;
}

@layer base {
  body {
    @apply bg-gray-100 text-[15px];
  }

  .h_nav{
    @apply h-16
  }

  .h_cal {
    min-height: calc(100vh - 6.25rem); 
    width: 1rem;
  }

  button {
    @apply cursor-pointer hover:transition-all ease-linear duration-300;
  }

  input {
    @apply bg-transparent outline-none;
  }

  .btn {
    @apply hover:bg-primary hover:text-white;
  }

  h1 {
    @apply text-3xl lg:text-4xl 2xl:text-5xl font-semibold;
  }
  h2 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl font-semibold;
  }
  h3 {
    @apply text-xl lg:text-2xl 2xl:text-3xl font-semibold;
  }
  h4 {
    @apply text-lg lg:text-xl 2xl:text-2xl font-semibold;
  }

  .layout {
    @apply px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64;
  }

}

  .text_container{
    white-space: pre-wrap; 
  }

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}
